/* 
    Document   : newcss
    Created on : Jul 8, 2013, 3:07:54 PM
    Author     : Sammy Guergachi <sguergachi at gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

