/*
    Document   : mystyle
    Created on : Feb 12, 2013, 2:36:26 PM
    Author     : Abdul Wahab Qureshi
    Description:
        CSS for WP Builder.
*/

root {
    display: block;
}

body{
    font-family: verdana;
    font-size: 13px;
}

a:hover{

    color: orange;
}

input{
    -webkit-appearance: none;
}

.wrapper{
    padding: 20px;
    width: 80%;
    background: white;
    margin: 0px auto;
}

.form{
    width: 100%;
    border: 1px solid whitesmoke;
    display: block;
}

.form .wNavButtons input{

    width: 150px !important;
    padding: 10px;
    margin-right: 10px;
    background: -webkit-linear-gradient(#FAFAFA, #EFEFEF);
    border: 1px solid whitesmoke;
}

.form .wNavButtons{

    padding: 10px;
    text-align: right;
}

.widget .title {
    background: linear-gradient(to bottom, #FAFAFA 0%, #EFEFEF 100%) repeat scroll 0 0 transparent;
    background: -webkit-linear-gradient(#FAFAFA, #EFEFEF);
    border-bottom: 1px solid #CDCDCD;
    height: 36px;
}

.widget .title h6 {
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding: 9px 12px 8px;
    margin: 0px;
}

.widget .title .titleIcon {
    border-right: 1px solid #D5D5D5;
    float: left;
    padding: 11px;
}
img {
    border: 0 none;
}

fieldset{
    border: 0px solid white;
}

.form input, .form textarea, .form select{
    padding: 10px;
    width: 97%;
    font-size: 1em;
}

.form input[type=text]{

    color: gray;
}

.form label{
    width: 25%;
    font-size: 1.1em;
    padding: 12px;
    font-family: Arial;
    margin-bottom: 5px;
    height: 50px;
    display: block;
    float: left;
}

.form .formRow{
    width: 96%;
    padding: 15px;
    min-height: 50px;
    border-bottom: 1px solid whitesmoke;
}

.form .formRow:first-of-type{
    border-top: 1px solid whitesmoke;
}

.form .rowRight{
    float: right;
    width: 69%;
}

.form .buttons{

    display: block;
    min-height: 85px;
    position: relative;
}

.form .buttons input{

    -webkit-appearance: none;
    float: right;
    margin-top: 15px;
    width: 150px;
    height: 50px !important;
    margin-right: 20px;
    background: white;
    border: 1px solid black;
}

.form .buttons a:link{

    margin: 30px;
    display: block;
    float: right;

}

.form select{

    -webkit-appearance: none;
    float: right;
    margin-top: 10px;
    width: 100%;
    height: 30px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

.form option{

    padding: 10px;
    border-bottom: 1px dashed black;
}

.form option:last-of-type{

    border-bottom: 0px dashed black;
}

.alert{

    padding: 10px;
    margin: 10px 0px;
    cursor: pointer;
    width: 100%;
    line-height: 25px;
    font-size: 14px;

}

.message{

    border: 1px solid green;
    background: #E6FFE6;
}

.error{

    border: 1px solid red;
    background: #FFE6E6;

}

table{
    width: 100%;
    border: 1px solid lightgray;
}

.floatL{
    float: left;
}

.floatR{
    float: right;
}

.widthNormal{
    width: auto !important;
}

table th{
    padding: 15px;
    font-size: 1em;
    border-bottom: 1px soid black;
}

table td{
    padding: 10px;
    border-bottom: 1px solid whitesmoke;
    text-align: center;
}

table tr{

    border: 3px solid white;
}

table tr:hover{
    border: 1px solid red;
    background: ghostwhite;
}

.widget{
    width: 100%;
    padding: 15px;
    border: 0px solid lightgray;
    margin: 15px 0px;
}

table thead{

    background: whitesmoke;
    font-weight: bold;
}

.errorPage{
    border: 1px solid black;
    padding: 20px;
    background: lightgray;
}

.errorPage p{
    color: maroon;
    border-bottom: 1px solid steelblue;
    font-weight: bold;
    font-size: 1.1em;
    padding: 5px;
}

.errorPage h1{
    color: steelblue;
}

.errorPage h1 span{
    color: red;

}

a:link , a:visited{

    color: black;
}

#header{
    height: 50px;
    border-bottom: 3px solid steelblue;
    padding: 38px 0px 0px 250px;
    font-size: 1.1em;
    background-image: url('../Images/Icons/Nav_logo.png');
    background-repeat: no-repeat;
}

#header a:link, #header a:visited{

    color: color;
    padding: 5px 10px;
    z-index: 100;
    height: 40px;
    text-decoration: none;
}

span.confirmAction, span.ShowMessage{

    text-decoration: underline;
}

span.confirmAction:hover, span.ShowMessage:hover{

    text-decoration: underline;
    cursor: pointer;
}

.menuItem{

    padding: 5px 20px;
    z-index: 100;
    height: 40px;
    cursor: pointer;
}

#header .menuItem:hover, #header a:hover{

    color: orange;
}

#menuList{

    display: none;
    position: absolute;
    right: 116px;
    top: 81px;
    z-index: 50px;
    border-top: none;
}

#menuList ul{

    width: 150px;
    list-style-type: none;
    line-height: 26px;
    border: 1px solid lightgray;
    padding: 15px;
    background: white;
    border-top: none;
}

#menuList ul a:link{

    text-decoration: none;
    padding: 5px;
    color: black;
    width: 100%;
    display: block;
}

#menuList ul a:hover{

    color: orange;
}

#menuList ul li{

    border-bottom: 1px dashed gray;
    padding-top: 10px;
}

#menuList ul li:hover{

    color: orange
}

#headerLogo{

    text-align: center;
}

#headerLogo img{

    border: 0px solid white;
}

.form h3{

    padding-left: 10px;
    text-align: center;
}

.NoRecords{

    text-align: center;
}

li{
    line-height: 25px;
}

.indexTableContentHeading{

    font-size: 16px;
    font-weight: bold;
    font-style: italic;
}

li a:link{
    font-style: italic;
    text-decoration: none;
}

li.indexHeading > a:link{
    font-weight: bold;
    font-style: italic;
}

.active{

    color: black !important;
}

table tr.disabled{

    background: lightpink;
}

td .settings{
    height: 30px;
    width: 30px;
    background: url('../Images/Icons/Settings.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    margin: 0px auto;
}

td .settingsMenu{

    display: none;
    position: absolute;
    background: white;
    border: 1px solid lightgray;
    padding: 15px;
    line-height: 30px;
    text-align: left;
    opacity: 0.9;
    filter:alpha(opacity=90); /* For IE8 and earlier */
}

td .settingsMenu a:hover, td .settingsMenu span:hover{

    color: orange;
}

.loginWrapper{

    margin-top: 15%;
    display: block;
}

#loading img{

    width: 70px;
}

#loading{
    display: none;
    margin-top: -25px;
}

.oneTwo{
    width: 46% !important;
    float: left;
    display: block;
    margin-right: 10px;
}

.disabled {
    color: gray;
}

.code{

    padding: 15px;
    background: black;
    color: white;
}

.code .red{

    color: red;
}

.code .green{

    color: yellowgreen;
}

.code .lightgreen{

    color: lightgreen;
}

.code .brown{

    color: brown;
}

.code .blue{

    color: steelblue;
}

.code .orange{

    color: orange;
}

.code .yellow{

    color: yellow;
}

.code .lightblue{

    color: lightsteelblue;
}

.tableHeadingSection{

    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    color: steelblue;
}

.code .this{
    font-style: italic;
}