#!/usr/bin/env bash

# Configure your genesis application bash script
# This file should be set before using the script
# Genesis version control uses git only

# genesis repository
export genesis_repo='git@bitbucket.org:wqureshi/genesis.git';

# bash compatible editor
export genesis_editor='sublime';

# genesis default branch
export genesis_defaultBranch='master';

# genesis php error log
export genesis_phpErrorLog='';

# remote ssh user
export genesis_sshUser='';

# remote ssh ip
export genesis_sshIp='';

# remote server genesis directory
export genesis_remoteDir='';

# if phpunit is setup please set its path below
export genesis_phpunitBin='phpunit';

# if you have set the variable above, please set where the config xml file is for phpunit
export genesis_phpunitConfigPath=$(dirname "${BASH_SOURCE[0]}")/../../;

# Url to open for project
export genesis_url='http://';