#!/usr/bin/env bash

# Configure your genesis application bash script
# This file should be set before using the script
# Genesis version control uses git only

# genesis repository
export genesis_repo='git@bitbucket.org/wqureshi/genesis.git';

# genesis directory
export genesis_dir=$(dirname "${BASH_SOURCE[0]}")/../../../;

# version control dir
export genesis_vc=$(dirname "${BASH_SOURCE[0]}")/../;

# bash compatible editor
export genesis_editor='sublime';

# genesis default branch
export genesis_defaultBranch='master';

# genesis php error log
export genesis_phpErrorLog='/Applications/MAMP/logs/php_error.log';

# remote ssh user
export genesis_sshUser='fandist';

# remote ssh ip
export genesis_sshIp='web1';

# remote server genesis directory
export genesis_remoteDir='';

# if phpunit is setup please set its path below
export genesis_phpunitBin='';

# if you have set the variable above, please set where the config xml file is for phpunit
export genesis_phpunitConfigPath='';

# Url to open for project
export genesis_url='http://';
